<h1>HEC Edit</h1>

<%= form_with model: @university do |form|%>
   
    <%= form.hidden_field :user_id, value: Current.user.id%>
    <div class="form-group">
        <%=form.label :Name%><br>
        <%= form.text_field :name%>
    </div><br>
    <div class="form-group">
        <%=form.label :City%><br>
        <%= form.text_field :city%>
    </div><br>
    <div class="form-group">
        <%=form.label :Specialization%><br>
        <%= form.text_field :specialization%>
    </div><br>
    <div class="form-group">
        <%=form.label :User_id%><br>
        <%= form.text_field :user_id%>
    </div><br>
    <div class="form-group">
        <%= form.submit "Update", class: "btn btn-primary"%>
    </div>
<%end%>